body {
    overflow-y: scroll;
    background-color: #f8f9fa;
}
.login-form h2{
    text-align: center;
    color: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #86155a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    background-color: white;
    color: #86155a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-form button[type="submit"]:hover {
    background-color: #ddd;
}